<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137900084172-ea43ls8gbl7348l8ua2t9jp1blfen38q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137900084172-ea43ls8gbl7348l8ua2t9jp1blfen38q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>137900084172-5qnk1f2sb9p4uoq54nbujeib9b0d4nh4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0ZhwJm5JNlwyJFlbOBaz9I5wJjMITwMw</string>
	<key>GCM_SENDER_ID</key>
	<string>137900084172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cho.baldomero.ptf</string>
	<key>PROJECT_ID</key>
	<string>shieldpass-b7700</string>
	<key>STORAGE_BUCKET</key>
	<string>shieldpass-b7700.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137900084172:ios:8176bde383ab6d6a816b69</string>
</dict>
</plist>